<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.windowTitle}</title>
    </h:head>
    <h:body>
        #{msgs.pageTitle}
        <h:form>
            <h:dataTable value="#{tableData.names}" var="name" frame="box"  rules="all">
                <h:column>
                    #{name.last},
                </h:column>

                <h:column>
                    #{name.first}
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>
